* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.block {
	width: 100%;
	min-height: 50vh;
	display: flex;
	gap: 1rem;
}

.top-block {
	background-color: hsl(225, 6%, 25%);
	padding: 0.5rem;
}

.editor-card {
	flex-grow: 1;
	flex-basis: 0;
	max-width: 100%;
	min-width: 13%;
	border-radius: 1rem;
	border: 1px solid black;
	padding: 0.5rem;
	display: flex;
	flex-direction: column;
	background-color: hsl(225, 6%, 15%);
	color: white;
}

/* #HTML:focus-within {
  background-color: #e24b34c0;
}
#CSS:focus-within {
  background-color: #006ebac0;
}
#JS:focus-within {
  background-color: #e9ca32c0;
} */

.editor-card.collapsed {
	flex-grow: 0;
}
.editor-card.collapsed .CodeMirror-scroll {
	position: absolute !important;
	overflow: hidden !important;
}

.editor-title {
	padding: 0 0.5rem 0.5rem 0.5rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.editor-title > img {
	height: 1.5rem;
	object-fit: cover;
	padding: 0.1rem;
}
.editor-card:focus-within .editor-title > img {
	/* box-shadow: 0 0 10px white; */
	background-color: hsla(228, 6%, 15%, 0.536);
}

.editor-title > button {
	height: 1.5rem;
	aspect-ratio: 1;
	background: none;
	border: none;
}

.editor-body {
	border-radius: 1rem;
	overflow: hidden;
}

.CodeMirror-code {
	padding-bottom: 2rem;
	padding-right: 1rem;
}

.clear-btn {
	position: fixed;
	bottom: 1rem;
	right: 1rem;
	border: none;
	border-radius: 0.5rem;
	background-color: hsl(225, 6%, 25%);
	padding: 1rem;
	color: white;
	cursor: pointer;
	overflow: hidden;
}
.clear-btn::before,
.clear-btn::after {
	content: "";
	position: absolute;
	inset: 0 0 0 0;
	background-color: hsla(0, 0%, 0%, 0.254);
	transform: translateX(100%);
	transition: all 1s ease-in-out;
}
.clear-btn::after {
	transform: translateX(-100%);
}
ō .clear-btn:hover::before,
.clear-btn:hover::after {
	transform: translateX(0);
}

.icon{
  color: #fff;
  font-size: 18pt;
}

@media only screen and (max-width: 600px) {
  .block{
    flex-direction: column;
    width: 100%;
  }
}

.out{
  min-height: 50vh;
}